*{margin: 0; padding: 0;}

html, body {
  font-family: Arial, sans-serif;
  width: 100%;
  overflow-x: hidden;
}

/**************************************** App ********************************/
.app{display: flex; justify-content: stretch; background-color: rgb(37, 37, 37);
}
aside{
  position: relative;
  margin: 0 0px;
  padding: 15px 10px;
  width: 320px;
  height: calc(100vh - 30px);
  background-color: #eeebeb;
  display: flex;
  flex-direction: column;
}
.userProfil{
  display: flex;
  align-items: center;
  gap: 15px;
  max-width: 250px;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 20px;
}
.userProfilImg{
  width: 40px;
  border-radius: 100px;
}
.userProfilInfo{
  display: flex;
  flex-direction: column;
}
.userProfilInfo .span2{
  color: #969696;
  font-size: 15px;
}

.asideLink{
  display: flex; 
  flex-direction: column;
  gap: 10px;
  background-color: #ffffff;
  margin: 10px 0;
  padding: 10px 30px 10px;
  border-radius: 20px;
}
.asideLink a{
  color: rgb(150, 150, 150);
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 15px;
}
.asideLink a.active{
  color: #1f1f1f;
  /* background-color: #5c0ab9; */
} 


/* Style du lien actif */
nav a.active-link svg {
  fill: #1d4ba5; /* Couleur du SVG lorsque le lien est actif */
}/* Style par défaut du lien */
nav a svg {
  fill: #5f6368; /* Couleur par défaut du SVG */
}

.logout{
  position: absolute;
  bottom: 50px;
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: #ffffff;
  width: 90%;
  padding: 15px;
  border-radius: 20px;
  border: none;
}

.spaceTop{
  margin-top: 100px;
}

.sousApp{
  width: 100%;
  height: calc(100vh - 30px);
  margin: 15px 5px;
}
header{
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  width: 100%;
  border-radius: 20px;
  /* border: #5c0ab9 solid 1px; */
}
header .textLogo{
  color: #2B2B2B;
  padding: 8px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 20px;
  width: 30%;
}
header h1{
  font-size: 20px;
  font-weight: 700;
}header h3{
  font-size: 16px;
  font-weight: 500;
  align-items: flex-end;
}
.headLeSecret{
  display: flex;
  align-items: center;
  gap: 5px;
  max-width: 250px;
  padding: 0px;
  border-radius: 20px;
  margin-right: 10px;
}
.headLeSecretImg{
  width: 40px;
  border-radius: 100px;
}
.headLeSecretInfo{
  display: flex;
  flex-direction: column;
}
.headLeSecretInfo .span2{
  color: #969696;
  font-size: 15px;
}

.content{
  margin-top: 20px;
}

label{
  font-size: 20px;
}
input{
  font-size: 20px;
  width: 200px;
}
option, select{
  font-size: 18px;
  width: 180px;
}

article{
  position: relative;
  margin: 0 0px;
  padding: 15px 10px;
  width: 300px;
  height: calc(100vh - 30px);
  background-color: #eeebeb;
  display: flex;
  flex-direction: column;
}




.buttonMenu{display: none;}



@media only screen and (max-width: 768px){
  aside{
    /* display: none; */
    position: absolute;
    z-index: 1000;
    left: -300px;
    transition: left 1s ease;
  }
  .content{position: relative;}
  aside.show{
    /* display: none; */
    left: -10px;
    transition: left .8s ease;
  }
  .buttonMenu {
    display: block;
    position: absolute;
    right: 0;
    width: 60px;
    height: 60px;
    border-radius: 200px;
    background-color: #9E6316;
    border: none;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 1.3s ease;
  }
  
  /* Bouton actif (allumé) */
  .buttonMenu.active {
    background-color: #4CAF50; /* Vert ou autre couleur pour indiquer l'activation */
    background-color: #0f6612; /* Vert ou autre couleur pour indiquer l'activation */
    transition: background-color 1.3s ease;
    color: #fff;
    animation: colorChange 5s infinite linear;
  }
  @keyframes colorChange {
    0% {
      background-color: #0f6612;
    }
    45% {
      background-color: #671be0;
    }
    90% {
      background-color: #9E6316;
    }

  }}

