*{margin: 0; padding: 0;}

html, body {
  font-family: Arial, sans-serif;
  width: 100%;
  overflow-x: hidden;
}

/**************************************** projet-maker ********************************/
.projet-maker{display: flex; justify-content: stretch; background-color: rgb(37, 37, 37);
}

/* ******************* projet-maker-rith panel ******************** */
.container-rigth-projet-maker{
  position: relative;
  margin: 0 0px;
  padding: 15px 10px;
  width: 320px;
  height: calc(100vh - 30px);
  background-color: #eeebeb;
  color: #1f1f1f;
  display: flex;
  flex-direction: column;
}

/* Info User Actif */
.projet-maker-userProfil{
  display: flex;
  align-items: center;
  gap: 15px;
  max-width: 250px;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 20px;
}.projet-maker-userProfil-imgs img{
  width: 40px;
  border-radius: 100px;
}.projet-maker-userProfil-info{
  display: flex;
  flex-direction: column;
}.projet-maker-userProfil-info-text{
  color: #969696;
  font-size: 15px;
}

/* Block des liens */
.container-rigth-projet-maker-links{
  display: flex; 
  flex-direction: column;
  gap: 10px;
  background-color: #ffffff;
  margin: 10px 0;
  padding: 10px 30px 10px;
  border-radius: 20px;
}.container-rigth-projet-maker-links a{
  color: rgb(150, 150, 150);
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 15px;
}.container-rigth-projet-maker-links a.active{
  color: #1f1f1f;
  /* background-color: #5c0ab9; */
} 

/* Style du lien actif */
nav a.active-link svg {
  fill: #1d4ba5; /* Couleur du SVG lorsque le lien est actif */
}/* Style par défaut du lien */
nav a svg {
  fill: #5f6368; /* Couleur par défaut du SVG */
}

/* Space entre 2 blocks definis */
.container-rigth-projet-maker-links .spaceTop{
  margin-top: 100px;
}

/* Block de deconnexion */
.logout{
  position: absolute;
  bottom: 50px;
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: #ffffff;
  width: 90%;
  padding: 15px;
  border-radius: 20px;
  border: none;
}

/* ******************* projet-maker-Center panel ******************** */
.container-middle-projet-maker{
  width: 100%;
  height: calc(100vh - 30px);
  margin: 15px 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
/* Head */
.container-middle-projet-maker-header{
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  color: #2B2B2B;
  width: 70%;
  height: 70px;
  margin: 8px 0;
  padding: 0 55px;
  border-radius: 50px;
}
.container-middle-projet-maker-textLogo{
  color: #2B2B2B;
  padding: 8px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 20px;
  width: 30%; min-width: 200px;
}
.container-middle-projet-maker-textLogo h1{
  font-size: 20px;
  font-weight: 700;
}.container-middle-projet-maker-textLogo h3{
  font-size: 16px;
  font-weight: 500;
  align-items: flex-end;
}
.container-middle-projet-maker-header-rigth{
  display: flex;
  align-items: center;
  gap: 5px;
  max-width: 250px;
  padding: 0px;
  border-radius: 20px;
  margin-right: 10px;
}
.container-middle-projet-maker-header-rigth-img{
  width: 40px;
  border-radius: 100px;
}
.container-middle-projet-maker-header-rigth-info{
  display: flex;
  flex-direction: column;
}
.container-middle-projet-maker-header-rigth-info .span2{
  color: #969696;
  font-size: 15px;
}


.container-middle-projet-maker-content-buttonMenu{display: none;}
.container-middle-projet-maker-content{
  margin-top: 20px;
  background-color: rgb(204, 204, 204);
  width: 95%;
  height: 95%;
  border-radius: 8px;
  overflow-y: auto;  
  /* z-index: 1; */
}

/* .frameRendu{
  z-index: -1;
} */

.activeComponent{
  background-color: #1f1f1f;
  position: fixed;
  width: 80%;
  height: 70vh;
  top: 10%;
  overflow: auto; 
  border-radius: 1rem;
  z-index: 100000;

 /* opacity: 0; */
}
/* ******************* fin du projet-maker-center panel ******************** */



/* ******************* projet-maker-left panel ******************** */
.container-left-projet-maker{
  position: relative;
  margin: 0 0px;
  padding: 15px 10px;
  width: 300px;
  height: calc(100vh - 30px);
  background-color: #eeebeb;
  display: flex;
  flex-direction: column;
}

/**************************************** Responsive ********************************/
@media only screen and (max-width: 768px){
  .container-rigth-projet-maker{
    /* display: none; */
    position: absolute;
    z-index: 1000;
    left: -350px;
    transition: left 1s ease;
  }
  .container-middle-projet-maker-content{position: relative;}
  .container-rigth-projet-maker.show{
    /* display: none; */
    left: -10px;
    transition: left .8s ease;
  }
  .container-middle-projet-maker-content-buttonMenu {
    display: block;
    position: absolute;
    right: 0;
    width: 60px;
    height: 60px;
    border-radius: 200px;
    background-color: #9E6316;
    border: none;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 1.3s ease;
  }
  
  /* Bouton actif (allumé) */
  .container-middle-projet-maker-content-buttonMenu.active {
    background-color: #4CAF50; /* Vert ou autre couleur pour indiquer l'activation */
    background-color: #0f6612; /* Vert ou autre couleur pour indiquer l'activation */
    transition: background-color 1.3s ease;
    color: #fff;
    animation: colorChange 5s infinite linear;
  }
  @keyframes colorChange {
    0% {
      background-color: #0f6612;
    }
    45% {
      background-color: #671be0;
    }
    90% {
      background-color: #9E6316;
    }

  }}

